<h1>Esta view renderiza a rota para o método chamado find_user dentro da controller users_controller.</h1>
<h2>Para isso, foi criado uma rota em routes. Em seguida foi gerado a controller que cria o método find_user que finalmente é renderizada na view.</h2>
<h3>Os comentários feito no controller são formas de capturar o conteúdo de um possível modelo de usuários utilizando id, nome ou listar todos usuários. </h3>
<h4>Outra solução seria criar um index e chamar o método find_user utilizando um get ou um post.</h4>
<h5>O esqueleto do método get foi comentado no routes.</h5>